# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Proyecto
screenshots/
*.png
*.jpg
*.mp4
*.avi
debug_frames/
*.log

# Pure Data
*.pd_linux
*.pd_darwin
*.dll
*.dylib
